<nb-card>
  <nb-card-header>
    Companies
  </nb-card-header>

  <nb-card-body>
    
    <div class="buttons-row text-right mb-4">
      <button routerLink="/admin/company/add" nbButton [status]="'info'" hero>
        Add Company
      </button>
    </div>
    <div class="col-12 smart-table-container">
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (delete)="onDeleteConfirm($event)"
        (edit)="onEditConfirm($event)"
      >
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
